In [1]:
import pandas as pd

In [2]:
car = pd.read_csv("/content/Car_sales_data (3).csv")
car.head(15)

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.00,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.90,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.00,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.20,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.00,Petrol,yes,2011,Rav 4
5,Mercedes-Benz,199999.0,crossover,0,5.50,Petrol,yes,2016,GLS 63
6,BMW,6100.0,sedan,438,2.00,Gas,yes,1997,320
7,Audi,14200.0,vagon,200,2.70,Diesel,yes,2006,A6
8,Renault,10799.0,vagon,193,1.50,Diesel,yes,2012,Megane
9,Volkswagen,1400.0,other,212,1.80,Gas,no,1999,Golf IV
10,Renault,11950.0,vagon,177,1.50,Diesel,yes,2011,Megane
11,Renault,2500.0,sedan,260,1.79,Petrol,yes,1994,19
12,Audi,9500.0,vagon,165,2.70,Gas,yes,2003,A6 Allroad
13,Volkswagen,10500.0,sedan,100,1.80,Petrol,yes,2008,Passat B6
14,Toyota,16000.0,crossover,250,4.70,Gas,yes,2001,Land Cruiser 100

In [3]:
car['Brand'].value_counts()

Volkswagen       936
Mercedes-Benz    921
BMW              694
Toyota           541
Renault          469
Audi             457
Mitsubishi       327
Name: Brand, dtype: int64

In [4]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4345 entries, 0 to 4344
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         4345 non-null   object
 1   Price         4173 non-null   float64
 2   Body          4345 non-null   object
 3   Mileage       4345 non-null   int64
 4   EngineV       4195 non-null   float64
 5   Engine Type   4345 non-null   object
 6   Registration  4345 non-null   object
 7   Year          4345 non-null   int64
 8   Model         4345 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 305.6+ KB

In [5]:
car.isna().sum()

Brand             0
Price           172
Body              0
Mileage           0
EngineV         150
Engine Type       0
Registration      0
Year              0
Model             0
dtype: int64

In [6]:
car_new = car.dropna()

In [7]:
car_new.isnull().sum()

Brand           0
Price           0
Body            0
Mileage         0
EngineV         0
Engine Type     0
Registration    0
Year            0
Model           0
dtype: int64

## T-Test
### Null Hypothesis : Mean Price is same for "Crossover" & "Van" Body Types for Used Cars
### Alternative Hypothesis : Mean Price is significantly different for "Crossover" & "Van" Body Types for Used Cars

In [8]:
df_crossover = car_new[car_new['Body']=='crossover']
df_van = car_new[car_new['Body']=='van']
# Python program to conduct two-sample t-test
# Importing library
from statsmodels.stats.weightstats import ttest_ind
import numpy as np
import scipy.stats as stats


#Conducting two-sample ttest
result = stats.ttest_ind(a=df_crossover['Price'], b=df_van['Price'], equal_var=True)


alpha = 0.05
print(result)


if result[1] < alpha :
    print("As p value is less than significance level, we can reject Null hypothesis")
else :
    print('As p value is greater than significance level, we fail to reject null hypothesis')

Ttest_indResult(statistic=17.30054446943425, pvalue=4.2069143970227766e-61)
As p value is less than significance level, we can reject Null hypothesis

The above test implies that there is no significant difference in price for the two body types of used cars "Crossover" & "Van"

## Z-proportion test

### Null Hypothesis : The proportions of 'sedan' & 'Crossover' Body Types are same for registered vehicles

### Alternate Hypothesis : The proportions of '' Sedan"& 'Crossover' Body Types are significantly different for registered vehicles

In [9]:
car_new['Registration'].value_counts()

yes    3654
no      371
Name: Registration, dtype: int64

In [10]:
from statsmodels.stats.proportion import proportions_ztest

count = np.array([5, 12])
nobs = np.array([83, 99])
stat, pval = proportions_ztest(count, nobs)

In [11]:
import numpy as np
vagon_regis = car_new[(car_new['Body']== 'sedan') & (car_new['Registration']=='yes')]
Hatch_regis = car_new[(car_new['Body']== 'crossover') & (car_new['Registration']=='yes')]



p1 = len(vagon_regis)/len(car_new[car_new['Registration']=='yes'])

p2 = len(Hatch_regis)/len(car_new[car_new['Registration']=='yes'])

p=((len(vagon_regis)*p1)+(len(Hatch_regis)*p2))/(len(vagon_regis)+len(Hatch_regis))

#P = ((len(car[car['Body']=='vagon'])*p1) + (len(car[car['Body']=='hatch']*p2)))/(len(car[car['Registration']=='yes']))
print(p)
     
Q = 1 - p

n1 = len(car_new[car_new['Body']=='sedan'])
n2 = len(car_new[car_new['Body']=='crossover'])

z = (p1-p2)/np.sqrt(p*Q*((1/n1)+(1/n2)))


# importing packages
import scipy.stats
  
# finding p-value
p_value = scipy.stats.norm.sf(abs(z))*2
print('p value is : ' + str(p_value))

#NormalDist().cdf(1.64)   -> pvalue= (1 - NormalDist().cdf(1.64)) for one tailed test & 2*(1 - NormalDist().cdf(1.64))
# 0.9494974165258963
         

alpha = 0.05 #Two tailed test


if p_value < alpha :
    print("As p value is less than significance level, we can reject Null hypothesis")
else :
    print('As p value is greater than significance level, we fail to reject null hypothesis')

#     0.31395844728054445
# p value is : 9.319492122156417e-15
# As p value is less than significance level, we can reject Null hypothesis

0.31515219630268837
p value is : 1.2985722218755968e-14
As p value is less than significance level, we can reject Null hypothesis

## ANOVA
### Null Hypothesis : The distribution of mileage  is similar across Engine Type - Diesel, Petrol and Gas
### Alternate Hypothesis : The distribution of mileage  is significantly different across Engine Type - Diesel, Petrol and Gas Â¶

In [12]:
car_new['Engine Type'].value_counts()

Diesel    1861
Petrol    1468
Gas        590
Other      106
Name: Engine Type, dtype: int64

In [13]:
diesel = car_new.loc[car_new["Engine Type"]=='Diesel']["Mileage"]
petrol = car_new.loc[car_new["Engine Type"]=='Petrol']["Mileage"]
gas = car_new.loc[car_new["Engine Type"]=='Gas']["Mileage"]

In [14]:
from scipy.stats import f_oneway
Anova = f_oneway(diesel, petrol, gas)

alpha = 0.05

if Anova[1] < alpha :
    print("As p value is less than significance level, we can reject Null hypothesis")
else :
    print('As p value is greater than significance level, we fail to reject null hypothesis')
    
#As p value is less than significance level, we can reject Null hypothesis

As p value is less than significance level, we can reject Null hypothesis

## Chi - Square Test
### Null Hypothesis : Brand and Body  are independent
### Alternate Hypothesis :  Brand and Body are dependent

In [15]:
df_cross_tab = pd. crosstab(car_new['Brand'], car_new['Body'])
df_cross_tab

Body           crossover  hatch  other  sedan  vagon  van
Brand
Audi                  73     18     31    195    102    1
BMW                  173     11     54    361     41    0
Mercedes-Benz        140     17    127    356     19  164
Mitsubishi           131     18     23    121      8    6
Renault               19     40     32     57    105  192
Toyota               207     56     37    190     12    8
Volkswagen            81    108     90    254     92  255

In [16]:
from scipy.stats import chi2_contingency
  
# defining the table
data = [[77,191,168,137,19,223,86] ,[19,12,23,19,41,59,112],[35,60,141,26,35,37,99],[217,389,385,129,59,201,269],[108,42,22,8,112,13,97],[1,0,182,8,203,8,273]]
stat, p, dof, expected = chi2_contingency(data)
  
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')
    
#     p value is 0.0
# Dependent (reject H0)
# The above test implies that Brand and Body are dependent

p value is 0.0
Dependent (reject H0)

The above test implies that Brand and Body are dependent